@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.btn {
    @apply shadow-md py-3 px-6 rounded-md transition duration-300
}
.btn-purple {
    @apply bg-bookmark-purple text-white
}
.btn-white {
    @apply bg-bookmark-white
}

.accordion {
    @apply bg-[#eee] text-[#444] cursor-pointer p-[18px] w-full border-none text-left outline-none text-sm
    transition duration-300
  }
  
  .active, .accordion:hover {
    @apply
    bg-[#eee]
  }
  
  .panel {
    @apply py-0 px-[18px] hidden bg-white overflow-hidden
  }

  